[Desktop Entry]
Type=Application
Exec=easy-password-generator
Icon=easy-password-generator
Categories=Security;
Name=Easy password generator
Terminal=true
X-AppImage-Version=0.1.0.0
